*{
    font-family: cursive;
    margin: 20px;
}

h1{
    background-color: black;

}
h1.white{
    color: white;
    margin: 0px;
}
span.white{
    color: white;
    margin: 0px
}
span.cyan{
    color: cyan;
    margin: 0px
}
h2{
    color: white;
    background-color: purple;
    text-align: center;
}
h3{
    color: purple;
    background-color: lightblue;
    text-align: right;
}